GOOGLE_API_KEY=sua_chave_aqui
POSTGRES_USER=desafio_user
POSTGRES_PASSWORD=desafio_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=desafio_db
COLLECTION_NAME=campos_altos_edital_2025
CHUNK_SIZE=1000
CHUNK_OVERLAP=150
SEARCH_K=10
LLM_MODEL=gemini-2.5-flash-lite
LLM_TEMPERATURE=1.0